*.iml
AndroidApp/.gradle
AndroidApp/local.properties
AndroidApp/.idea/workspace.xml
AndroidApp/.idea/libraries
AndroidApp.DS_Store
AndroidApp/build
AndroidApp/captures
AndroidApp.externalNativeBuild
AndroidApp.idea/
AndroidApp/app/build/
AndroidApp/app/.gitignore
