*.iml
AndroidApp/.gradle
AndroidApp/local.properties
AndroidApp/.idea/
AndroidApp.DS_Store
AndroidApp/build
AndroidApp/captures
AndroidApp/.externalNativeBuild
AndroidApp/app/build/
AndroidApp/app/.gitignore
servercmu/.idea/
servercmu/out/
servercmu/src/ORM.db
*.class
*.db
