<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List all QuizResponse's instances</title>
<#include "../imports.html">
</head>
<body>
<div class="main-panel" style="width : 100%; float : none ; height: 100%">
<#include "../menu.html">


    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">QuizResponse List</h4>
                            <a href="create">Create a quizresponse</a>
                        </div>

                        <div class="content table-responsive table-full-width">
                            <table class="table table-hover table-striped">
                                <thead>
                                <th>Id</th>
                                <th>score</th>
                                <th>date</th>
                                <th>correct</th>
                                <th>time</th>
                                            <th>quizId</th>
                                            <th>userId</th>
                                            <th>answerId</th>
                                <th>actions</th>
                                </thead>
                                <tbody>
                                <#list list as quizresponse>
                                <tr>
                                    <td>${quizresponse.id}</td>
                                    <td>${quizresponse.score}</td>
                                    <td>${quizresponse.date}</td>
                                    <td>${quizresponse.correct}</td>
                                    <td>${quizresponse.time}</td>
                                            <td> <#if quizresponse.quiz??>${quizresponse.quiz.id}</#if></td>
                                            <td> <#if quizresponse.user??>${quizresponse.user.id}</#if></td>
                                            <td> <#if quizresponse.answer??>${quizresponse.answer.id}</#if></td>
                                    <td>
                                        <a href="update?id=${quizresponse.id}">
                                            <button type="submit" class="btn btn-warning btn-fill ">Update</button>
                                        </a>
                                        <a href="delete?id=${quizresponse.id}">
                                            <button type="submit" class="btn btn-danger btn-fill ">Remove</button>
                                        </a>
                                    </td>
                                </tr>
                                </#list>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
