<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pt.ulisboa.tecnico.cmov.cmu_project">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Monument.MonumentScreenActivity" />
        <activity android:name=".Quiz.QuizActivity" />
        <activity android:name=".Termite.PeerScannerActivity" />
        <service android:name="pt.inesc.termite.wifidirect.service.SimWifiP2pService" />

        <service
            android:name=".SendQuestions"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".NetworkStateReceiver$NetworkStateReceiver" />

        <receiver android:name=".Quiz.TimeChangedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>

        <service
            android:name=".AnswerSenderService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>