<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List all Ticket's instances</title>
<#include "../imports.html">
</head>
<body>
<div class="main-panel" style="width : 100%; float : none ; height: 100%">
<#include "../menu.html">


    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Ticket List</h4>
                            <a href="create">Create a ticket</a>
                        </div>

                        <div class="content table-responsive table-full-width">
                            <table class="table table-hover table-striped">
                                <thead>
                                <th>Id</th>
                                <th>number</th>
                                <th>taken</th>
                                            <th>userId</th>
                                            <th>tourId</th>
                                <th>actions</th>
                                </thead>
                                <tbody>
                                <#list list as ticket>
                                <tr>
                                    <td>${ticket.id}</td>
                                    <td>${ticket.number}</td>
                                    <td>${ticket.taken}</td>
                                                <td><#if ticket.user??>${ticket.user.id}</#if></td>
                                            <td> <#if ticket.tour??>${ticket.tour.id}</#if></td>
                                    <td>
                                        <a href="update?id=${ticket.id}">
                                            <button type="submit" class="btn btn-warning btn-fill ">Update</button>
                                        </a>
                                        <a href="delete?id=${ticket.id}">
                                            <button type="submit" class="btn btn-danger btn-fill ">Remove</button>
                                        </a>
                                    </td>
                                </tr>
                                </#list>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
