
<nav class="navbar navbar-default navbar-fixed">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>
        </div>
        <ul class="nav navbar-nav ">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Entities
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                                        <li><a href="/ticket/list">Ticket</a></li>
                    <li><a href="/user/list">User</a></li>
                    <li><a href="/tour/list">Tour</a></li>
                    <li><a href="/session/list">Session</a></li>
                    <li><a href="/monument/list">Monument</a></li>
                    <li><a href="/quiz/list">Quiz</a></li>
                    <li><a href="/question/list">Question</a></li>
                    <li><a href="/answer/list">Answer</a></li>
                    <li><a href="/quizresponse/list">QuizResponse</a></li>
                </ul>
            </li>
        </ul>
    </div>


</nav>
